.app {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(255, 248, 240);
    padding: 1rem 5rem 5rem 5rem;

}
.heading {
    color: red;
    font-size: 25px;
}

.btn {
    padding: 5px;
    font-size: 20px;
    background-color: lightblue;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.input {
    padding: 5px;
    background-color: #eee;
}